<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>STT</td>
            <td>Name</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!(courses$ | async)">
            <td class="text-center" colspan="2">Loading ...</td>
          </tr>
          <tr *ngFor="let course of courses$ | async; let i = index">
            <td>{{i}}</td>
            <td><span class="badge badge-success">{{course}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
